{% extends 'base.html' %}

{% block title %} Employee Details {% endblock %}
{% block content %}
  <div class="navbar navbar-dark bg-dark navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <img src="/static/img/ubermelonsmall.png">
        <a class="navbar-brand" href="/">Ubermelon</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="employee-details">
      <h1>{{ details['name'] }}</h1>
      <h3>{{ details['position'] }}  </h3>
      <ul>
        <li>E-Mail: {{ details['email'] }}</li>
        <li>Favorite Food: {{ details['favorite_food'] }} </li>
      </ul>
    </div>
  </div>
{% endblock %}